html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 10px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
  font-weight: 500;
}

p {
  font-family: 'Karla';
  font-weight: 400;
  line-height: 1.5;
  color: #495E57;
}

.row {
  display: flex;
  justify-content: center;
  gap: 2%;
}

footer .row {
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  footer img { display: none; }
}

footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto repeat(3, fit-content(15px));
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 18pt;
  margin: 0;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2%;
}

a {
  text-decoration: none;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #EDEFEE;
}

a:active {
  color: rgb(121, 121, 163);
}

article:hover {
  box-shadow: 5px 10px 20px rgb(0, 0, 0);
  transform: scale(105%);
}

article img {
  max-width: 100%;
  height: auto;
}

.article {
  font-size: 0.75rem;
  word-wrap: break-word;
}