html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 10px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, .title, .price, .delivery {
  font-family: 'Markazi Text';
  font-weight: 500;
}

h1 {
  color: #F4CE14;
}

p, .delivery {
  font-family: 'Karla';
  font-weight: 400;
}

p {
  line-height: 1.5;
  color: #495E57;
}

.title {
  font-size: 18pt;
  font-weight: bold;
}

.price {
  font-size: 14pt;
  color: #EE9972;
  font-weight: bold;
}

.link {
  font-size: 12pt;
  text-decoration: none;
  color: black;
}

.jumbotron {
  padding: 40px 10px 40px 10px;
  margin: 0px auto;
  margin-bottom: 20px;
  background: #495E57;
  color: white;
  position: relative;
}

.jumbotron img {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  border-radius: 16pt;
  position: absolute;
}

.jumbotron p {
  color: white;
}

.card {
  border-radius: 16pt;
  background: #EDEFEE;
}

.card img {
  width: 100%;
  height: 30vh;
  border-radius: 16pt 16pt 0 0;
  object-fit: cover;
}

.button {
  background-color: #F4CE14;
  color: black;
  border-radius: 16pt;
  font-family: 'Karla';
  font-weight: 500;
  width: auto;
}

.form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: sideways-lr;
  max-width: 200px;
}

input[type="range"] {
  max-width: 200px;
  width: 100%;
  margin: 0;
}

option {
  padding: 0;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0F0F0F;
}